.hidden { display: none;}

#container {
    width: 700px;
    margin: 0 auto;
}

.heading{
    text-align: center;
}

.bigleft {
    margin-left: 20em;
    }

    .bigright {
    margin-left: 5em;
    }



body { 
    font-family: 'Oswald', sans-serif, Helvetica, Arial, sans-serif;
    
}

h2{ 
    font-weight: 30000;
    font-size: 40px;
    color: #CEBF18;
    letter-spacing: 1px;
}

h3{
    font-weight: 700;
    font-size: 14px;
    color: #738152;
}

p {
    color: #6b6b69;
    font-size: 20px;
    line-height: 28px;
    font-weight: 999;
}

.dropCap {
    font-size: 100px;
    font-weight: 400;
    line-height: 70px;
    float: left;
    margin: 5px 10px 0px 0px;
}

.floatImgLeft {
    float: left;
    margin-left: 20px;
    padding: 0;
}

.floatImgRight {
    float: right;
    margin-right: 20px;
    padding: 0;
}

figure {
    display: block;
    margin: 0;
    padding: 0;
}